*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

html{
    font-size: 62.5%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 2rem;

    border-bottom: 2px solid lightgray;
}

.brand-logo{
    display: flex;
}

.left{
    display: flex;
}

.one,
.two,
.three{
    height: 25px;
    width: 5px;
    margin-right: 3px;
    background-color: black;
}

.right{
    display: flex;
    flex-direction: column;
}

.four,
.five,
.six{
    height: 5px;
    width: 25px;
    margin-top: 3px;
    background-color: black;
}

nav{
    margin-right: auto;
}

.sub-header{
    padding: 2rem;
}

.hero{
    text-align: center;
    height: 80vh;
}

.hero-img{
    height: 100%;
    width: 75%;
    border: 1px solid black;
}

.software{
    width: 50%;
    margin: 0 auto;
}

.software h3{
    font-size: 2.4rem;
    font-weight: 700;
}

.software p {
    margin-top: 1.5rem;
    font-size: 1.6rem;
}